.about-section__item {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 175px;
}

.about-section__image {
  max-width: 100%;
  width: 560px;
  height: 450px;
}

.about-section__image:last-of-type {
  height: 400px;
}

.about-section__title {
  font-size: 52px;
  font-weight: 700;
  color: #000;
  margin: 0 0 20px;
}

.about-section__text {
  flex: 1;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.about-section__image-container {
  flex: 1;
  text-align: center;
}

.about-section__item_reverse {
  margin-bottom: 0;
  flex-direction: row-reverse;
}

.about-section__button {
  display: block;
  width: 236px;
  height: 60px;
  margin-top: 45px;
  line-height: 60px;
  font-weight: 700;
  color: #2d3051;
  background-color: #ffe522;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s ease;
}

.about-section__button:hover {
  cursor: pointer;
  background-color: #ffb800;
}
