.privacy {
  padding: 90px 20px;
  background-color: #ffffff;
}

.privacy__container {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
}

.privacy__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

