.loader-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: #ffd800;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-top: 20px;
}

.loader-text {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
