.popup {
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.6s, opacity 0.5s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__title {
  margin: 0 0 30px;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  color: #333;
}
.popup__fieldset {
  padding: 0;
  border: none;
}

.popup__submit-button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 0;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s linear;
}

.popup__submit-button:hover {
  background-color: #0056b3;
  cursor: pointer;
}

.popup__cancel-button {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../images/popup/CloseIcon.svg);
  transition: all 0.2s linear;
}

.popup__cancel-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__container {
  margin: 0 auto;
  width: 500px;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.popup__input {
  width: 95%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.popup__textarea {
  width: 95%;
  padding: 10px;
  margin: 13px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  resize: vertical;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popup__input_checkbox {
  margin: 0;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.popup__label {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0 10px 10px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.popup__input-error {
  display: block;
  visibility: visible;
  min-height: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #e74c3c; /* Цвет ошибки */
}

/* Адаптивность */
@media screen and (max-width: 1279px) {
  .popup__title {
    line-height: calc((100vw - 320px) / (1279 - 320) * (30 - 22) + 22px);
    font-size: calc((100vw - 320px) / (1279 - 320) * (26 - 18) + 18px);
    margin: 0 0 calc((100vw - 320px) / (1279 - 320) * (30 - 50) + 50px);
  }

  .popup__container {
    width: calc(
      (100vw - 320px) / (1279 - 320) * (500 - 300) + 300px
    ); /* Адаптивная ширина */
    padding: calc(
      (100vw - 320px) / (1279 - 320) * (40 - 30) + 30px
    ); /* Адаптивные отступы */
  }
}
