.contacts {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-sizing: border-box;
}

.contacts__container {
  max-width: 1200px;
  margin: 135px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.contacts__info {
  max-width: 560px;
  flex: 1;
}

.contacts__title {
  margin: 0 0 30px;
  font-size: 38px;
  font-weight: 700;
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts__item {
  font-size: 20px;
  margin-bottom: 16px;
  color: #8d8d8d;
}

.contacts__item a {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.contacts__item a:hover {
  text-decoration: underline;
}

.contacts__form {
  flex: 1;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts__label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
}

.contacts__input {
  margin-top: 8px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.2s ease, background-color 0.2s ease;
  width: 100%;
}

.contacts__input_error {
  border-color: red;
}

.contacts__error {
  margin-top: 4px;
  font-size: 14px;
  color: red;
}

.contacts__message {
  padding: 12px;
  margin-top: 5px;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;

  background-color: #4caf50;
  color: #fff;
}

.contacts__button {
  padding: 16px;
  background-color: #ffe522;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contacts__button:hover {
  background-color: #ffb800;
}

/* Адаптив для мобильных */
@media screen and (max-width: 960px) {
  .contacts__container {
    max-width: 640px;
    flex-direction: column;
  }

  .contacts__form {
    width: 100%;
    max-width: 100%;
  }

  .contacts__info {
    width: 100%;
  }

  .contacts__item {
    font-size: 18px;
  }
}
