/* Основные стили для контейнера страницы */
.card-details {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  background-color: #ffffff;
}

.card-details__container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  padding: 90px 20px;
}

.card-details__content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 60px;
}

.card-details__title {
  margin: 150px auto 35px;
  font-size: 42px;
  line-height: 42px;
  font-weight: 700;
  color: #000000;
}

@media screen and (max-width: 960px) {
  .card-details__container {
    max-width: 640px;
  }

  .card-details__content {
    flex-direction: column;
    padding-top: 40px;
  }

  .card-details__title {
    font-size: calc((100vw - 360px) / (960 - 360) * (42 - 30) + 30px);
    margin: calc((100vw - 360px) / (960 - 360) * (150 - 60) + 60px) auto
      calc((100vw - 360px) / (960 - 360) * (35 - 25) + 25px);
  }
}
