/* Информационный блок */
.card-details__info {
  flex: 1;
}

.card-details__advantages {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-details__specifications li {
  margin-bottom: 8px;
}

.card-details__name {
  margin: 0;
  text-align: start;
  font-size: 38px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
}

.card-details__subtitle,
.card-details__list {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
}

.card-details__price {
  margin: 5px 0;
  font-size: 18px;
}

.card-details__section {
  margin-top: 20px;
}

.card-details__specifications {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Стили для кнопки отправки заявки */
.card-details__button-send {
  width: 267px;
  height: 60px;
  margin: 20px 0 0;
  padding: 10px 20px;
  background-color: #ffe522;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.card-details__button-send:hover {
  background-color: #ffb800;
}

@media screen and (max-width: 1279px) {
  .card-details__name {
    font-size: calc((100vw - 360px) / (1279 - 360) * (38 - 20) + 20px);
  }

  .card-details__subtitle,
  .card-details__list {
    font-size: calc((100vw - 360px) / (1279 - 360) * (16 - 12) + 12px);
    line-height: calc((100vw - 360px) / (1279 - 360) * (24 - 17) + 17px);
  }

  .card-details__button-send {
    width: calc((100vw - 360px) / (1279 - 360) * (267 - 210) + 210px);
    /* padding: 10px; */
  }
}
